.background-grey{
    background-color: #F6F6F6;
    position: relative;
    border-radius: 40px;
    margin: 30px 5%;
}
.flex-appartement{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px;
    position: relative;
    justify-content: space-between;
}
.article-appartement{
    width: 30%;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}
.img-article{
    background-image: linear-gradient(to top, #863535, #ff6060);
    border-radius: 5%;
    height: 340px;
    width: 100%;
}
.name{
    position: absolute;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: white;
}