@use '../scss/variables.scss' as *;

.dropdown{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    transition: max-height 0.3s ease-in-out;
    &.expanded {
        max-height: 500px; /* Ajustez la valeur en fonction de la hauteur du contenu */
      }
    
    .container_dropdown{
        width: 100%;
        
        
        .dropdown_header{
            cursor: pointer;
            background-color: $primaryColor;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
                left: 10px;
                position: relative;
                color: $white;
                width: 30px;
                animation: scrollDown 0.5s forwards; /* Ajout de l'animation */

                &.rotate-up {
                    animation-name: scrollUp;
                }

                &.rotate-down {
                    animation-name: scrollDown;
                }
                
               
            }
            h3{
                color: $white;
                margin-left: 10px;
                background-color: $primaryColor;
            }
        }
       
        .dropdown_text{
            
            opacity: 0;
            transition: opacity 0.5s ease-in-out; /* Ajout de la transition */

            p{
               background-color: $greyBackGround;
               margin: 0;
            }
        }
    }
 }

 .dropdown.expanded .container_dropdown .dropdown_text {
    opacity: 1; /* Lorsque le dropdown est étendu, l'opacité passe à 1 */
}


 @keyframes scrollUp {
    from {
        transform: rotateX(360deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

@keyframes scrollDown {
    from {
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(360deg);
    }
}