@use "../scss/variables.scss" as *;

footer{
    background-color: $blackColor;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
}
.logo-footer{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;


}
.p-reserved{
    color: white;
    width: 100%;
    text-align: center;

}

@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Changement de la direction en colonne */
        align-items: center; /* Centrage des éléments */
    }

    .logo-footer {
        
    }

    .p-reserved {
        width: 30%;
    }
}