@use 'scss/variables.scss' as *;

body{
    
    .background-grey{
        background-color: $greyBackGround;
        position: relative;
        border-radius: 40px;
        margin: 30px 5%;
        .flex-appartement{
            display: flex;
            flex-wrap: wrap;
            margin-left: 5%;
            margin-right: 5%;
            padding-bottom: 30px;
            position: relative;
            justify-content: space-evenly;
        }
    }
}